body {
  background: rgba(0, 0, 0, 0) url("../images/transp_bg.png") repeat scroll 0 0 !important;
}

.outer-wrapper {
	background-color: #fff;
	box-shadow: 0 3px 10px rgba(0; 0; 0; 0.23); 0 3px 10px rgba(0; 0; 0; 0.16);
	margin-top: 40px;
	padding-top: 20px;
}


.link{
	cursor: pointer;
}

.number {
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  padding: 10px;
}

.alert {
  box-shadow: none;
  margin-top: 10px;
}

  .nopadding {
      background: #f9f2c9 none repeat scroll 0 0;
      color: green;
      font-family: inherit;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      padding: 8px 31px 6px;
      margin: 10px;
  }

  .hide {
    background: #31B0D5 none repeat scroll 0 0;
      color: #fff;
      font-family: inherit;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      padding: 8px 31px 6px;
      margin: 10px;
      display: none;
  }

  .show {
    background: #31B0D5 none repeat scroll 0 0;
      color: #fff;
      font-family: inherit;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      padding: 8px 31px 6px;
      margin: 10px;
      display: block;
  }

  .marginBottom10 {
    margin-bottom: 20px;
  }

  .center {
    text-align: center;
  }